doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="theme-color" content="#C2333A")
    title 2016 Christmas Card
    meta(name="description" content="Happy holidays!")
    meta(name="author" content="Kuroi Kyu")
    meta(name="keywords" content="Projects, Porfolio, Kuroi, Kyu, Christmas, Xmas, holidays")

    // Responsive meta tag
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Icons
    link(rel="apple-touch-icon-precomposed" sizes="57x57" href="apple-touch-icon-57x57.png")
    link(rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72.png")
    link(rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114.png")
    link(rel="apple-touch-icon-precomposed" sizes="120x120" href="apple-touch-icon-120x120.png")
    link(rel="icon" type="image/png" href="favicon-32x32.png" sizes="32x32")
    link(rel="icon" type="image/png" href="favicon-16x16.png" sizes="16x16")

    // Normalize HTML5 Reset
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")

    // font link
    link(href="https://fonts.googleapis.com/css?family=Cookie|Open+Sans:300" rel="stylesheet")

    // styles.css link
    link(rel="stylesheet" href="assets/css/styles.css")

  body
    .background
      span.author Illustration by Marta Buitrago. Website by Álvaro J. Martínez
      .flip-container.hover
        .flipper
          .front
          .card
            .to to #[span.names-target.red]
            .message
              span.green Happy holidays
              br
              span.red y feliz año nuevo!
            .from Álvaro &amp; Marta


    // script.js link
    script(type="application/javascript", src="assets/js/script.min.js")
