- var targets = ["name1", "name2"]

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    // meta(name="theme-color" content="#ffffff")
    title kuroikyu | christmas card
    meta(name="description" content="")
    meta(name="author" content="Kuroi Kyu")
    // meta(name="keywords" content="Projects, Portfolio, Kuroi, Kyu, HTML, CSS, JavaScript")

    // Responsive meta tag
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Normalize HTML5 Reset
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")

    // styles.css link  
    link(rel="stylesheet" href="assets/css/styles.css")

  body
    .background
      .flip-container
        .flipper
          .front
          .card
            .to to #[span.names-target]
            .message Have a fabulous festive season and a #[em feliz año nuevo!]
            .from Alvaro &amp; Marta
            
    
    // script.js link
    script(type="application/javascript", src="assets/js/script.min.js")
