doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="theme-color" content="#E71D36")
    title kuroikyu | christmas card
    meta(name="description" content="Happy holidays!")
    meta(name="author" content="Kuroi Kyu")
    // meta(name="keywords" content="Projects, Portfolio, Kuroi, Kyu, HTML, CSS, JavaScript")

    // Responsive meta tag
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    // Normalize HTML5 Reset
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css")

    // font link
    link(href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet")

    // styles.css link
    link(rel="stylesheet" href="assets/css/styles.css")

  body
    .background
      .flip-container.hover
        .flipper
          .front
          .card
            .to to #[span.names-target.red]
            .message
              span.green Happy holidays
              br
              //- span.green bloody
              //- br
              //- span.green holidays
              //- br
              span.red y feliz año nuevo!
            .from Álvaro &amp; Marta


    // script.js link
    script(type="application/javascript", src="assets/js/script.min.js")
    script(type="application/javascript", src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
    script(type="application/javascript", src="assets/js/snowflakes.js")
