/* --------------------------------------------------------------------------
   Variables
   -------------------------------------------------------------------------- */
// lolcolors
$red: #E71D36
$green: #2EC4B6
$white: #EFFFE9
$black: #011627

$main: #fff
$secondary: #fff
$highlight: #fff

$background: #555
$text: #000

$shadow: rgba(0, 0, 0, .25)

$card-ratio: 5/7
$card-height: 700px
$card-width: 500px
$card-max-width: 90vw
$card-max-height: $card-max-width * 1/$card-ratio
$card-front: "../img/front.png"



/* --------------------------------------------------------------------------
   Global Styles / Helper Classes
   -------------------------------------------------------------------------- */

.clearfix
  &::before, &::after
    content: ''
    display: table
  &::after
    clear: both

.wrapper
  width: 800px
  max-width: 90%
  margin: 0 auto

.muted
  color: transparentize($text, .35)

::selection
  text-shadow: none
  background: $highlight

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

/* --------------------------------------------------------------------------
   Styles
   -------------------------------------------------------------------------- */
*
  box-sizing: border-box

html, body
  height: 100vh
  width: 100vw

.green
  color: $green

.red
  color: $red

.background
  background: repeating-linear-gradient(-45deg,$green,$green 200px,$red 200px,$red 400px)
  height: 100vh
  width: 100vw
  overflow: hidden

.flip-container
  max-height: $card-max-height
  height: $card-height
  left: 50%
  perspective: 1000px
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: $card-width
  max-width: $card-max-width

  &.flip-it
    .flipper
      transform: rotateY(-180deg)
  &.hover
    // animation: hover .9s infinite ease-in-out
    animation: float 1.8s infinite ease-in-out

  .front, .card,
    height: $card-height
    max-height: $card-max-height
    width: $card-width
    max-width: $card-max-width

.flipper
  position: relative
  transform-style: preserve-3d
  transition: all 1s ease-in-out

.front, .card
  box-shadow: 0 20px 10px -14px $shadow
  backface-visibility: hidden
  border-radius: 5px
  left: 0
  position: absolute
  top: 0

.front
  background-image: url($card-front)
  background-position: center
  background-size: cover
  transform: rotateY(0deg)
  z-index: 2
  position: relative

  .author
    position: absolute
    bottom: 0
    left: 0
    padding-bottom: .5em
    padding-left: .75em
    color: $green
    font-family: 'Cookie'
    font-size: 1.5em

.card
  background-color: $white
  color: $black
  font-family: "Cookie"
  outline: 2px solid $shadow
  outline-offset: -1em
  transform: rotateY(180deg)
  .to, .message, .from
    position: absolute
    font-size: 2.5em

  .to
    top: .8em
    left: 1.2em

  .message
    top: 50%
    left: 50%
    text-align: center
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 90%
    font-size: 3.5em
    line-height: 1.5em

  .from
    bottom: .8em
    right: 1.2em

@keyframes hover
  0%
    transform: translate(-50%, -50%)

  50%
    transform: translate(-50%, -48.5%)

  100%
    transform: translate(-50%, -50%)

@keyframes float
  0%
    transform: translate(-50%, -50%)

  50%
    transform: translate(-50%, -50%) scale(1.05)
    box-shadow: 0 30px 30px -14px $shadow

  100%
    transform: translate(-50%, -50%)
