/* --------------------------------------------------------------------------
   Variables
   -------------------------------------------------------------------------- */

$main: #fff
$secondary: #fff
$highlight: #fff

$background: #444
$text: #000

$shadow: rgba(0, 0, 0, .25)
$white: #fff

$card-height: 700px
$card-max-height: 90vh
$card-ratio: 5/7
$card-width: $card-height * $card-ratio
$card-max-width: $card-max-height * $card-ratio



/* --------------------------------------------------------------------------
   Global Styles / Helper Classes
   -------------------------------------------------------------------------- */

.clearfix
  &::before, &::after
    content: ''
    display: table
  &::after
    clear: both

.wrapper
  width: 800px
  max-width: 90%
  margin: 0 auto

.muted
  color: transparentize($text, .35)

::selection
  text-shadow: none
  background: $highlight


hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

/* --------------------------------------------------------------------------
   Styles
   -------------------------------------------------------------------------- */
*
  box-sizing: border-box

html, body
  height: 100%
  overflow: hidden

.background
  background-color: $background
  height: 100%
  width: 100%

.flip-container
  max-height: $card-max-height
  height: $card-height
  left: 50%
  perspective: 1000px
  position: absolute
  top: 50%
  transform: translate(-50%, -50%)
  width: $card-width
  max-width: $card-max-width
  // &:hover,
  &.flip-it
    .flipper
      transform: rotateY(-180deg)
  .front, .card,
    height: $card-height
    max-height: $card-max-height
    width: $card-width
    max-width: $card-max-width

.flipper
  position: relative
  transform-style: preserve-3d
  transition: all 900ms ease-in-out

.front, .card
  box-shadow: 0 20px 10px -14px $shadow
  backface-visibility: hidden
  border-radius: 5px
  left: 0
  position: absolute
  top: 0

.front
  background-image: url(https://images.unsplash.com/photo-1466657718950-8f9346c04f8f)
  background-position: center
  background-size: cover
  transform: rotateY(0deg)
  z-index: 2

.card
  background-color: cornsilk
  padding: 1em
  transform: rotateY(180deg)
  .to, .message, .from
    position: absolute
    font-size: 1.25em

  .to
  .message
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    width: 100%
    max-width: 90%
  .from
    bottom: 1em
    right: 1em
