/* --------------------------------------------------------------------------
   Variables
   -------------------------------------------------------------------------- */
/* --------------------------------------------------------------------------
   Global Styles / Helper Classes
   -------------------------------------------------------------------------- */
.clearfix::before, .clearfix::after {
  content: '';
  display: table;
}

.clearfix::after {
  clear: both;
}

.wrapper {
  width: 800px;
  max-width: 90%;
  margin: 0 auto;
}

.muted {
  color: rgba(0, 0, 0, 0.65);
}

::-moz-selection {
  text-shadow: none;
  background: #fff;
}

::selection {
  text-shadow: none;
  background: #fff;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* --------------------------------------------------------------------------
   Styles
   -------------------------------------------------------------------------- */
* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  overflow: hidden;
}

.green {
  color: #2EC4B6;
}

.red {
  color: #E71D36;
}

.background {
  background: repeating-linear-gradient(-45deg, #2EC4B6, #2EC4B6 200px, #E71D36 200px, #E71D36 400px);
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.flip-container {
  max-height: 90vh;
  height: 700px;
  left: 50%;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 500px;
  max-width: 64.28571vh;
}

.flip-container.flip-it .flipper {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.flip-container.hover {
  -webkit-animation: float 1.8s infinite ease-in-out;
          animation: float 1.8s infinite ease-in-out;
}

.flip-container .front, .flip-container .card {
  height: 700px;
  max-height: 90vh;
  width: 500px;
  max-width: 64.28571vh;
}

.flipper {
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.front, .card {
  box-shadow: 0 20px 10px -14px rgba(0, 0, 0, 0.25);
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 5px;
  left: 0;
  position: absolute;
  top: 0;
}

.front {
  background-image: url("https://images.unsplash.com/photo-1451772741724-d20990422508");
  background-position: center;
  background-size: cover;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
  z-index: 2;
}

.card {
  background-color: #EFFFE9;
  color: #011627;
  font-family: "Cookie";
  outline: 2px solid rgba(0, 0, 0, 0.25);
  outline-offset: -1em;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card .to, .card .message, .card .from {
  position: absolute;
  font-size: 2.5em;
}

.card .to {
  top: .8em;
  left: 1.2em;
}

.card .message {
  top: 50%;
  left: 50%;
  text-align: center;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  max-width: 90%;
  font-size: 3.5em;
  line-height: 1.5em;
}

.card .from {
  bottom: .8em;
  right: 1.2em;
}

@-webkit-keyframes hover {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -48.5%);
            transform: translate(-50%, -48.5%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes hover {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -48.5%);
            transform: translate(-50%, -48.5%);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@-webkit-keyframes float {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 30px 30px -14px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) scale(1.05);
            transform: translate(-50%, -50%) scale(1.05);
    box-shadow: 0 30px 30px -14px rgba(0, 0, 0, 0.25);
  }
  100% {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}
